<div class="container">
	<div class="row">
		<div class="col-md-6">
				<h2>About Myself</h2>
		<p>Detailed description</p>
		<div class="panel-group" id="accordionMyself">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself1">About Hometown</a>
					</h4>
				</div>
				<div id="collapseMyself1" class="panel-collapse collapse">
					<div class="panel-body">
						<p>My test town is Devarakonda. I was born in Devarakonda and I like it a lot. I have been to many cities in India, but still I regard Devearakonda to be the most beautiful place amongst all. Last month I went to Delhi and everybody knows that how beautiful it is, but still I was keen to return to my hometown. There is so much greenery in Devarakonda whereas I was not able to find enough in so many places like Delhi, Hyderabad, Bangalore.</p>
						<p>There are so many lakes in that place. When I was young, I used to swim in the lake with my friends. How can I forget the wonderful time on this lake fishing with my boyhood friends!</p>
						<p>On the left of the village it was green where village meetings are often held by village officials. On this ground covered with soft grass we used to fly kites on windy autumnal evenings.</p>
						<p>My villagers are very friendly and helpful. They are willing to offer mutual help in any case and always get on with one another harmoniously.</p>
						<p>My village is rather small indeed but I like it very much because I was born and have grown up there and spent my happiest childhood among the simple and hard-working villagers who always feel attached to their native land.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself2">About Studies</a>
					</h4>
				</div>
				<div id="collapseMyself2" class="panel-collapse collapse">
					<div class="panel-body">Currently I am working as a Associate Consultant in Capgemini</div>
					</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself3">Family</a>
					</h4>
				</div>
				<div id="collapseMyself3" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself4">Music</a>
					</h4>
				</div>
				<div id="collapseMyself4" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself5">Living Style</a>
					</h4>
				</div>
				<div id="collapseMyself5" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself6">Sports</a>
					</h4>
				</div>
				<div id="collapseMyself6" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
		</div> 
		</div>
		<div class="col-md-6">
		<h2>About various topics</h2>
		<p>Topic description</p>
		<div class="panel-group" id="accordionTopics">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic1">Role Modal</a>
					</h4>
				</div>
				<div id="collapseTopic1" class="panel-collapse collapse">
					<div class="panel-body">
						<p>The one person who is a major player in the tech industry for years to come, i.e. Zuckerberg who is CEO and co-founder of Facebook. Not only is he the CEO of the world’s largest social network but he is also regarded as one of the youngest billionaires on earth.</p>
						<p>I like his willingness to work hard and determinedly on any task along with never-give up attitude.</p>
						<p>Zuckerberg grew up in the New York City and His father is a dentist, his mother a psychiatrist, and he has three sisters. Zuckerberg at a young age of twelve attained a new interest, programming, where he: "...used Atari BASIC to create a messaging program he named "Zucknet".Zuckerberg and fellow student Adam D'Angelo developed a music player that employed artificial intelligence to build customized playlists.</p>
						<p>Zuckerberg attended to Harvard in 2002. He created a photo-rating site called Facemash, using photographs of other Harvard students.But he created his program by hacking into student records and using photos without permission, and was reprimanded by the administration for violating privacy rules and breaching computer security.</p>
						<p>Zuckerberg, however, wasn't deterred. He eventually finished the platform for "The Facebook". In Feb 2004 he officially named it as Facebook. The site gradually expanded from college networks to include high school and work groups, and in September 2006, anyone with an e-mail address was allowed to join. Yahoo company attempted to buy Facebook for $1 billion. Since, Zuckerberg probably knows where the company is going so he rejected the offer, but even he has said that the site is a "work in progress."</p>
						<p>Today, there are more than 110 million active users. But one thing is for sure: Zuckerberg will be a major player in the tech industry for years to come. And in case you're wondering, you can't friend Zuckerberg on Facebook. That function's been disabled.</p>
						
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic2">Favorite Movie</a>
					</h4>
				</div>
				<div id="collapseTopic2" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Most of the movies I like are scirntific, action and ancient movies. One of the movie I was impressed was Bahubali which was release on 2015 in multiple languages like Telugu, Tamil, English, Hindi...</p>
						<p>Baahubali: The Beginning was produced in Tollywood, the center of Telugu language films in India, which is based out of Hyderabad. In the ancient Kingdom of Mahishmati in India, Sivagami, the queen mother (Ramya Krishna) emerges from a cave adjoining a big waterfall, carrying a baby in her arms. She kills the soldiers pursuing her and sacrifices herself to save the baby. Local villagers spot the queen carrying the baby while almost drowning in the river and rescue the infant. Villagers calls the boy as shiva and takes care of him. Shiva (Prabhas) grows up to be a well-built young man aspiring to climb the mountain and makes many unsuccessful attempts. Shiva finds the mask of a girl which falls from the mountain.  Shiva to find the girl, he climbs the mountain again and succeeds this time. On top of the waterfall, 
						Shiva discovers that the mask belongs to Avanthika and he falls in love with her. But she has a mission to rescue devasena from Mahishmathi kingdom.  Shiva rescues Avanthika from enemy soldiers, then decides to complete her mission on her behalf and sneaks into Mahishmati to rescue Devasena. One night, Shiva sets fire to Bhallala's chambers, rescues Devasena and flees along but is chased down by Bhallala Deva's son and Kattappa renowned as a warrior. In the fight Shiva kills Bhallala's son and Kattappa charges at Shiva but surrenders at the last moment realizing that Shiva is Mahendra Baahubali, the son of late king Amarendra Baahubali.</p>
						<p>A flashback reveals Amarendra Bahubali's past. Kattappa then narrates the story of Amarendra Bahubali and Bhallala Deva. There will be a war whcih was forced upon Mahishmati by the Kalakeyas where Bhallala Deva's father, used his cunningness to make sure Bhalladeva received the maximum resources. Amarendra Baahubali with the limited resources given to him used his skill and innovative war techniques to crush the enemy.Sivagami announced Amarendra Baahubali as the new king because of his nobility and leadership in the war and her own son, Bhallala Deva as army general.</p>
						<p>After the flashback, Shiva wonders that if Baahubali was such a great warrior, how could he meet his death. Kattappa says that was himself one who had betrayed Baahubali.</p>
						<p>I likes direction of Rajamouli and background music along with taking.</p>
						</div>
					</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic3">Holiday Experiance</a>
					</h4>
				</div>
				<div id="collapseTopic3" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic4">Tips for good health</a>
					</h4>
				</div>
				<div id="collapseTopic4" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Learn to do stretching exercises when you wake up. It boosts circulation and digestion, and eases back pain.</p>
						<p>Brush up on hygiene. Many people don't know how to brush their teeth properly. Improper brushing can cause as much damage to the teeth and gums as not brushing at all.</p>
						<p>Don’t skip breakfast. Studies show that eating a proper breakfast is one of the most positive things you can do if you are trying to lose weight. Breakfast skippers tend to gain weight.</p>
						<p>Running with music is a great way to get in a groove (just make sure it's not blasting too loudly, or you won't hear those cars!).</p>
						<p> So don't feel like you have to download Lady Gaga because her tunes are supposed to pump you up—go with any music that you find uplifting.</p>
						<p> it's always important to hydrate so you can stay energized and have your best workout. Electrolyte-loaded athletic drinks, though, can be a source of unnecessary calories, so "drinking water is usually fine until you're exercising for more than one hour"</p>
						<p>Don’t smoke and if you smoke already, do everything in your power to quit.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic5">Voluntary work</a>
					</h4>
				</div>
				<div id="collapseTopic5" class="panel-collapse collapse">
					<div class="panel-body">
						<p>asdfasdf</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic6">Good Day in life</a>
					</h4>
				</div>
				<div id="collapseTopic6" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic7">Bad Day in life</a>
					</h4>
				</div>
				<div id="collapseTopic7" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
		</div> 
		</div>
	</div>
</div>
