<div class="container">
	<div class="row">
		<div class="col-md-6">
				<h2>About Myself</h2>
		<p>Detailed description</p>
		<div class="panel-group" id="accordionMyself">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself1">About hometown</a>
					</h4>
				</div>
				<div id="collapseMyself1" class="panel-collapse collapse">
					<div class="panel-body">
						<p>My home town is Devarakonda. I was born in Devarakonda and I like it a lot. I have been to many cities in India, but still I regard Devearakonda to be the most beautiful place amongst all. Last month I went to Delhi and everybody knows that how beautiful it is, but still I was keen to return to my hometown. There is so much greenery in Devarakonda whereas I was not able to find enough in so many places like Delhi, Hyderabad, Bangalore.</p>
						<p>There are so many lakes in that place. When I was young, I used to swim in the lake with my friends. How can I forget the wonderful time on this lake fishing with my boyhood friends!</p>
						<p>On the left of the village it was green where village meetings are often held by village officials. On this ground covered with soft grass we used to fly kites on windy autumnal evenings.</p>
						<p>My villagers are very friendly and helpful. They are willing to offer mutual help in any case and always get on with one another harmoniously.</p>
						<p>My village is rather small indeed but I like it very much because I was born and have grown up there and spent my happiest childhood among the simple and hard-working villagers who always feel attached to their native land.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself2">About Studies</a>
					</h4>
				</div>
				<div id="collapseMyself2" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself3">Family</a>
					</h4>
				</div>
				<div id="collapseMyself3" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself4">Music</a>
					</h4>
				</div>
				<div id="collapseMyself4" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself5">Living Style</a>
					</h4>
				</div>
				<div id="collapseMyself5" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionMyself" href="#collapseMyself6">Sports</a>
					</h4>
				</div>
				<div id="collapseMyself6" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
		</div> 
		</div>
		<div class="col-md-6">
		<h2>About various topics</h2>
		<p>Topic description</p>
		<div class="panel-group" id="accordionTopics">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic1">Role Modal</a>
					</h4>
				</div>
				<div id="collapseTopic1" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic2">Favorite Movie</a>
					</h4>
				</div>
				<div id="collapseTopic2" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic3">Holiday Experiance</a>
					</h4>
				</div>
				<div id="collapseTopic3" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic4">Tips for good health</a>
					</h4>
				</div>
				<div id="collapseTopic4" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic5">Voluntary work</a>
					</h4>
				</div>
				<div id="collapseTopic5" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic6">Good Day in life</a>
					</h4>
				</div>
				<div id="collapseTopic6" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordionTopics" href="#collapseTopic7">Bad Day in life</a>
					</h4>
				</div>
				<div id="collapseTopic7" class="panel-collapse collapse">
					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
		</div> 
		</div>
	</div>
</div>
