/* For scrolling of navigation bar */
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

/* Carousel View */
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
/* Footer */
.footer-bottom {
    background: #25292C;
    color: #888;
}
.footer-bottom .copyright{
	padding-top: 12px;
}
.footer-bottom .list-inline>li {
    display: inline-block;
}

#home .container-fluid, #values .container-fluid, #portfolio .container-fluid {
    padding: 60px 50px;
}
.bg-grey{
    background-color: #f6f6f6;
}
.logo-small {
    font-size: 50px;
}
.logo{
    font-size: 200px;
}