/* For scrolling of navigation bar */
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

/* Carousel View */
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
#about .container-fluid, #values .container-fluid, #portfolio .container-fluid, #contact .container-fluid, #photoGallery .container-fluid {
    padding: 60px 50px;
}

.top-buffer{
    margin-top:20px;
}
.bottom-buffer{
    margin-bottom:20px;
}
.right-buffer{
    margin-right:20px;
}
.left-buffer{
    margin-left:20px;
}

.bg-grey{
    background-color: #f6f6f6;
}
.logo-small {
    font-size: 50px;
}
.logo{
    font-size: 200px;
}

#portfolio .carousel-indicators{
    bottom: -30px;
}
#portfolio .carousel-control.right, #portfolio .carousel-control.left {
    background-image: none;
    color: #000000;
}

#portfolio .carousel-indicators li {
    border-color: #ABABAB;
}

#portfolio .carousel-indicators li.active {
    background-color: #000000;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
/*Picture Horizontal scroll*/
.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Footer */
.footer-bottom {
    background: #25292C;
    color: #888;
}
.footer-bottom .copyright{
	padding-top: 12px;
}
.footer-bottom .list-inline>li {
    display: inline-block;
}

